.board-container {
  max-width: 350px;
  background-color: #ffff;
  /* border: 2px solid #b0b8b4ff; */
}
.board-header {
  height: 40px;
  background-color: #97b3d0ff;
  text-align: center;
  color: #ffff;
  font-size: 18px;
}

.board-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
